{% extends 'recall/base.html' %}
{% block content %}
<div class="container py-5">
    <div class="mb-3">
        <a href="{% url 'manage-community' view.kwargs.pk %}">Back</a>
    </div>
    <div class="pb-3 border-bottom">
        <h1>Create a question</h1>
    </div>
    <div class="mt-5 p-3 card">
        <form action="" method="POST">
            {% csrf_token %}
            <div>
                <h3>Quesiton title</h3>
            </div>
            <div class="form-input-box">
                {{ form.title }}
            </div>
            <div>
                <h3>Question content</h3>
            </div>
            <div class="form-input-box">
                {{ form.content }}
            </div>
            <div>
                <h3>Mark for quesiton</h3>
            </div>
            {{ form.mark }}
            <div class="mt-3">
                <button class="btn" type="submit" value="save">Create</button>
            </div>
        </form>
    </div>
</div>
{% endblock content %}