{% extends 'recall/base.html' %}
{% block content %}
<div class="container py-5">
    <div class="card p-3 mb-5">
        <h1>Dashboard</h1>
        <div class="row">
            <div class="col">
                <h5>Questions Assigned</h5>
                <h2>{{ user.questionresponse_set.all.count }}</h2>
            </div>
            <div class="col">
                <h5>Questions Completed</h5>
                <h2>{{ completed }}</h2>
            </div>
            <div class="col">
                <h5>Questions Incompleted</h5>
                <h2>{{ incompleted }}</h2>
            </div>
        </div>
    </div>
    <div class="card p-3 mb-5 d-flex flex-row">
        <div>
            <a class="nav-link" href="{% url 'create-community' %}">Create a community</a>
        </div>
        <div>
            <a class="nav-link" href="{% url 'join-community' %}">Join a commuinity</a>
        </div>
        <div>
            <a class="nav-link" href="{% url 'create-post' %}">Create a post</a>
        </div>
        <div>
            <a class="nav-link" href="#">Revision resources</a>
        </div>
    </div>
    <div class="card p-3">
        <h1 class="py-3 text-center">Communities</h1>
        {% if communities %}
        <div class="row">
            {% for community in communities %}
            <div class="col-md-4">
                <a href="{% url 'community' community.id %}">
                <div class="card p-3 mb-3">
                    <div class=" text-truncate">
                        <h2>{{ community.name }}</h2>
                        <p>{{ community.description }}</p>
                </a>
                        <p class="border-top pt-3">{{ community.admin }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        {% else %}
        <div class="text-center">
            <h1 class="p-3">You are in no communities</h1>
            <h2>
                <a href="{% url 'join-community' %}">Join a community</a> or <a href="{% url 'create-community'%}">create one</a>
            </h2>
        </div>
        {% endif %}
        </div>
    </div>
    {% if recent %}
    <div class="card my-5 p-3">
        <h2 class="py-3">Recently Assigned Question</h2>
        <div class="card p-3">
            <a href="{% url 'question' recent.id %}">
                <h1>{{ recent.question.title }}</h1>
                <p>Marks: [{{ recent.question.mark }}]</p>
                <p>Community: {{ recent.question.community }}</p>
                <p>Date Assigned: {{ recent.question.date_assigned }}</p>
            </a>
        </div>
    </div>
    {% endif %}
</div>
</div>
{% endblock content %}
