{% extends 'recall/base.html' %}
{% block content %}
<div class="container mt-5">
    <div class="mb-3">
        <a href="{% url 'manage-community' view.kwargs.pk %}">Back</a>
    </div>
    <h1>Questions</h1>
    <div class="card my-5 p-3">
        <form action="" class="mb-5">
            <h2>Filter questions</h2>
            {{ question_filter.form }}
            <button class="btn">Search</button>
        </form>
    </div>
{% if questions %}
{% for question in questions %}
    <div class="card my-5 p-3">
        <div class="border-bottom">
            <div class="p-3">
                <h1>{{ question.title }}</h1>
                <h3>{{ question.content }}</h3>
            </div>
        </div>
        <div class="p-3">
            <p>Date assigned: {{ question.date_assigned }}</p>
            <h5>[{{ question.mark }}] Marks for question</h5>
            <a href="{% url 'delete-question' view.kwargs.pk question.pk%}">Delete</a>
        </div>
    </div>
{% endfor %}
{% else %}
<h1>No questions found</h1>
{% endif %}
</div>
{% endblock content %}