html, body{
    height:100%
}

body{
    margin: 0;
}


.login-form-wrapper{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.about-div{
    background-color:#e8e8e8;
}

.header{
    background-color:#30c9f0 ;
    color:white
}

.footer {
    background-color: #474747;
    color:white;
    padding: 30px 0px 300px 0px
}

.form-input-box{
    width: 100%
}


.form-input-box textarea{
    width: 100%
}
